#!/bin/bash

function generate_passwd_file() {
  export USER_ID=$(id -u)
  export GROUP_ID=$(id -g)
  grep -v ^postgres /etc/passwd > "$HOME/passwd"
  echo "postgres:x:${USER_ID}:${GROUP_ID}:PostgreSQL Server:${HOME}:/bin/bash" >> "$HOME/passwd"
  export LD_PRELOAD=libnss_wrapper.so
  export NSS_WRAPPER_PASSWD=${HOME}/passwd
  export NSS_WRAPPER_GROUP=/etc/group
}

export HOME=/var/lib/mysql

generate_passwd_file
whoami

if [ -z "${MARIADB_DATABASE}" ]; then
    MARIADB_DATABASE=mysql
fi

cd /setup
ansible-playbook -i inventory dbinit.yml

exec "$@"
